@()(implicit request: RequestHeader)

@equation {
    <script>
        var controls = connect("@routes.Contribution.controls().webSocketURL()");
    </script>

    <form>
        y = <input class="variable" id="a" type="text" value="@(models.Equation.a)" onchange="controls.sendUpdate(this)"/>.cos(<input class="variable" id="b" type="text" value="@(models.Equation.b)" onchange="controls.sendUpdate(this)"/>.x&sup2;) + <input class="variable" id="c" type="text" value="@(models.Equation.c)" onchange="controls.sendUpdate(this)"/>.sin(<input class="variable" id="d" type="text" value="@(models.Equation.d)" onchange="controls.sendUpdate(this)"/>.x) <br/><br/>
        name: <input id="name" type="text" value="anonymous"/><br/>
    </form>
}
